/*Header */
#header {
	margin-bottom: 6px;
}

#headerText {
	color: rgba(117, 97, 93, 1);
	font-size: 20px;
}

#headline {
	margin-top: 5px;
	margin-bottom: 0px;
}

/*Textarea*/
textarea {
    resize: none;
    font-size: inherit;
}

#textInput{
	font-size: 20px;
}

.form-group{
	margin-bottom: 5px;
}

/*buttons*/
#buttons{
	margin-bottom: 12px;
}

#submit {
	color: rgba(117, 97, 93, 1);
	border: 1px solid rgb(190, 190, 190);
	background-color: white;
	float: right;
	display: inline-block;
	font-size: 18.5px;
	border-radius: 4.5px;
}

#submit:hover {
	color: rgba(97, 77, 73, 1);
	border: 1px solid rgb(190, 190, 190);
	background-color: rgb(240, 240, 240);
}

#tweetButton{
	float: left;
	display: inline-block;
}

/*Overlay*/
#overlay {
	position: fixed;
	z-index:199;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background-color: rgba(117, 97, 93, 0.5);
	display: none;
} 





