/*Header */
#header {
	border-spacing: 3px;
}

#headerText {
	color: rgba(117, 97, 93, 1);
	font-size: 20px;
}

#headline {
	margin-top: 5px;
	margin-bottom: 3px;
}

/*Textarea*/
textarea {
    resize: none;
    font-size: inherit;
}

#textInput{
	font-size: 20px;
}

.form-group{
	margin-bottom: 6px;
}

/*Submit button*/
#submit {
	color: rgba(117, 97, 93, 1);
	border: 0;
	background-color: white;
	float: right;
	font-size: 20px;
}

#submit:hover {
	color: black;
}

/*Overlay*/
#overlay {
	position: fixed;
	z-index:199;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
	background-color: rgba(117, 97, 93, 0.5);
	display: none;
} 





