/*Header */
#headerText {
  color: rgba(117, 97, 93, 1);
  font-size: 16px;
  text-align: left;
}

p {
  margin-bottom: 10px;
}

#headline {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 35.5px;
  text-align: left;
}

#pic {
  float: left;
  margin: 3px 10px 0px 0px;
}

/*Textarea*/
textarea {
    resize: none;
    font-size: inherit;
}

#text-input-container{
  padding: 30px;
  padding-top: 0px;
}

#textInput{
  font-size: 16px;
}

.form-group{
  margin-bottom: 5px;
}

/*buttons*/
#buttons{
  margin-top: 10px;
  margin-bottom: 12px;
}

#submit {
  color: rgba(117, 97, 93, 1);
  border: 1px solid rgb(190, 190, 190);
  background-color: white;
  float: right;
  display: inline-block;
  font-size: 16px;
  border-radius: 4.5px;
  padding-bottom: 1.5px;
  padding-top: 1.5px;
  padding-left: 8x;
  padding-right: 8px;
}

#submit:hover {
  color: rgba(97, 77, 73, 1);
  border: 1px solid rgb(190, 190, 190);
  background-color: rgb(240, 240, 240);
}

#tweetButton{
  float: left
  display: inline-block;
  margin-top: 0px;
}

/*Overlay*/
#overlay {
  position: fixed;
  z-index:199;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background-color: rgba(117, 97, 93, 0.5);
  display: none;
}